.modalc {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    &__content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 50%;
    }
    &__close {
      color: #aaaaaa;
      background-image: url('../img/icons/btn-close.png')  ;
      background-size: cover;
      float: right;
      height: 30px;
      width: 30px;
      margin: 5px;
    }
    &__close:hover,
    &__close:focus {
      color: rgb(224, 157, 157);
      text-decoration: none;
      cursor: pointer;
      }
    &__footer{
      width: 100%; 
      height: 60px; 
      display: flex; 
      flex-direction: row;
      &__button{
          width: 50%; 
          height: 100%; 
          justify-content: center; 
          display: flex;
          align-items: center;
          font-weight: bold;
          &--fav{
            background-color: $addFav ; 
          }
          &--fav:hover{
              background-color: $grayDark ; 
              color: $redfav;
          }
          &--buy{
              background-color: $favourites ;
              color: $red;
          }
          &--buy:hover{
            background-color: $grayLight;
              color: $redfav;
          }
          &__icon{
            background-size: cover;
            width: 30px;
            height: 30px;
            margin: 10px;
            background-repeat: no-repeat;
          }
      }
      
    }

     .buy{
  background-image: url('../img/icons/shopping-cart-primary.png')   ;
 }

 .add{
  background-image: url('../img/icons/btn-favourites-default.png')   ;
 }

 .add:hover{
  background-image: url('../img/icons/btn-favourites-primary.png')   ;
 }
  }