

    <div class="modalc"  >

        <div class="modalc__content">
           <div class="row pdd-y-5">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-2">
                   <img width="100%" height="100%" [src]="character.image" [alt]="character.name">
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <strong style="font-size:large; text-align: center;">{{character.name}}</strong>
                   <div>
                       <p style=" text-align: justify; margin-top: 2px;">{{character.gender}}</p>
                   </div> <div>
                    <p style=" text-align: justify; margin-top: 2px;">{{character.species}}</p>
                </div> <div>
                    <p style=" text-align: justify; margin-top: 2px;">{{character.status}}</p>
                </div>
                <div>
                    <p style=" text-align: justify; margin-top: 2px;">Aparecio en {{character.episode.length}} episodios</p>
                    
                </div>
              
                
            </div> 
            <!-- <div class="col-lg-6"  *ngFor="let episodes of character.episode paginate: { itemsPerPage: 10, currentPage: page }">
                    
                <div class="related-comic"> Episodio: {{episodes}}</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center ">
                <pagination-controls previousLabel="" (pageBoundsCorrection)="page = $event" nextLabel=""
                    (pageChange)="page = $event"></pagination-controls>
            </div> -->
               </div>
           </div>
       </div>

 
       
